body {
    margin: 0;
}

header {
    background: blueviolet;
    text-align: center;
}

.logo {
    color: white;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    padding: 20px 0;
    cursor: pointer;
}

header input {
    font-size: 20px;
    margin: 20px;
    border: none;
}